.details-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.form-group {
  display: flex;
  margin: 40px auto;
  min-width: 300px;
  position: relative;
  width: 80%;
}
.form-label {
  align-items: center;
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  width: 35%;
}
.item-btn {
  background: white;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 10px auto;
  padding: 5px 20px;
}
